* {
  padding: 0;
  margin: 0;
  list-style: none;
}
html,
body {
  width: 100%;
  height: 100%;
}
.app {
  width: 100%;
  height: 100%;
  background-image: url(../img/appBG.gif);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.app .ico {
  width: 0.7rem;
  height: 0.7rem;
  border: 0.06rem solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0.5rem;
  top: 0.5rem;
  z-index: 100;
}
.app .ico.icoSwitch {
  animation: rotate 1s Infinite linear both;
}
.app .ico img {
  width: 70%;
  height: 70%;
}
.app .pageI {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app .pageI .pageIN {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.app .pageI .pageIN .vitae {
  width: 60%;
  margin-bottom: 0.2rem;
  display: flex;
  align-items: center;
  animation: slideInRight 1s linear;
}
.app .pageI .pageIN .vitae img {
  width: 100%;
}
.app .pageI .pageIN .vitaeEng {
  width: 60%;
  height: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.2rem;
  animation: slideInRight 1.5s linear;
}
.app .pageI .pageIN .vitaeEng img {
  width: 100%;
}
.app .pageI .pageIN .introduce {
  width: 60%;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}
.app .pageI .pageIN .introduce div {
  flex: 1;
  border-left: 0.01rem solid #ccc;
  color: #fff;
  font-size: 0.29rem;
  padding: 0.08rem;
  margin-bottom: 0.7rem;
}
.app .pageI .pageIN .introduce div:nth-child(1) {
  animation: rubberBand 1s;
}
.app .pageI .pageIN .introduce div:nth-child(1) p {
  animation: zoomIn 2s;
}
.app .pageI .pageIN .introduce div:nth-child(1) p:nth-child(2) {
  font-size: 0.27rem;
}
.app .pageI .pageIN .introduce div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 0.01rem solid #ccc;
  animation: rubberBand 1s;
}
.app .pageI .pageIN .introduce div:nth-child(2) p {
  animation: zoomIn 2s;
  font-size: 0.38rem;
}
.app .pageI .pageIN .HeadPortrait {
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.15rem;
  border: 0.05rem dashed #e9a019;
  border-style: double dashed dashed double;
  animation: bounceIn 1s forwards;
}
.app .pageI .pageIN .HeadPortrait img {
  animation: rotateIn 3s 1s forwards;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.app .pageII {
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 0.24rem;
  position: relative;
}
.app .pageII .yelowBox {
  width: 1.5rem;
  height: 1.5rem;
  background: #fdc713;
  position: absolute;
  top: 0.5rem;
  left: -0.5rem;
  opacity: 0.99;
  animation: rollIn 1s;
}
.app .pageII .yelowBoreder {
  width: 0.68rem;
  height: 0.68rem;
  border: 0.04rem solid #fdc713;
  position: absolute;
  top: 1.55rem;
  left: 0.6rem;
  animation: rollIn 1s, rotate 1s 1s Infinite cubic-bezier(0.45, 0.84, 0.69, 0.85);
}
.app .pageII .VerticalLine {
  width: 0.05rem;
  height: 3rem;
  background-color: #fdc713;
  position: absolute;
  top: 3.6rem;
  left: 1rem;
  animation: slideInUp 1s linear;
  opacity: 1;
}
.app .pageII .information {
  position: absolute;
  top: 2.4rem;
  left: 1rem;
  animation: slideInLeft 1s cubic-bezier(0.13, 0.15, 0.68, 0.28);
}
.app .pageII .information span:nth-child(1) {
  display: block;
  font-size: 0.49rem;
  font-weight: bold;
}
.app .pageII .information span:nth-child(2) {
  font-size: 0.3rem;
}
.app .pageII .BasicIntor {
  position: absolute;
  top: 3.75rem;
  left: 1.4rem;
  animation: slideInRight 1s linear;
}
.app .pageII .BasicIntor li {
  font-size: 0.31rem;
  margin-bottom: 0.05rem;
  font-weight: 550;
}
.app .pageII .BasicIntor li span {
  margin-right: 0.15rem;
}
.app .pageII .portrait {
  width: 1.8rem;
  height: 2.4rem;
  position: absolute;
  top: 2.6rem;
  left: 5.3rem;
}
.app .pageII .portrait img {
  width: 100%;
  height: 100%;
}
.app .pageII .Self_introduction {
  width: 6.4rem;
  height: 4.9rem;
  padding: 0.35rem;
  background-color: #fdc713;
  position: absolute;
  bottom: 0.6rem;
  right: 0rem;
  color: black;
  opacity: 0;
  animation: leftExtension 1s 1s linear, leftShift 1s 1.3s linear forwards, opacity 0.5s 1.3s linear forwards;
}
.app .pageII .Self_introduction h2 {
  font-size: 0.45rem;
  text-align: right;
  padding-bottom: 0.4rem;
}
.app .pageII .Self_introduction p {
  font-size: 0.3rem;
  text-indent: 0.6rem;
  line-height: 0.6rem;
  opacity: 0;
  animation: zoomIn 1s 1.8s linear forwards;
}
.app .pageII .lineBoder {
  position: absolute;
  bottom: 0.55rem;
  right: 0.2rem;
  width: 1.79rem;
  height: 4.32rem;
  border: 0.05rem solid #fdc713;
  animation: fadeInLeft 1s linear;
}
.app .pageIII {
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 0.24rem;
  position: relative;
}
.app .pageIII .yelowBox {
  width: 1.5rem;
  height: 1.5rem;
  background: #fdc713;
  position: absolute;
  top: 0.5rem;
  left: -0.5rem;
  opacity: 0.99;
  animation: rollIn 1s;
}
.app .pageIII .yelowBoreder {
  width: 0.68rem;
  height: 0.68rem;
  border: 0.04rem solid #fdc713;
  position: absolute;
  top: 1.55rem;
  left: 0.6rem;
  animation: rollIn 1s, rotate 1s 1s Infinite cubic-bezier(0.45, 0.84, 0.69, 0.85);
}
.app .pageIII .information {
  position: absolute;
  top: 2.4rem;
  right: 0.5rem;
  animation: slideInLeft 1s cubic-bezier(0.13, 0.15, 0.68, 0.28);
}
.app .pageIII .information span:nth-child(1) {
  display: block;
  font-size: 0.75rem;
  font-weight: bold;
}
.app .pageIII .information span:nth-child(2) {
  font-size: 0.3rem;
}
.app .pageIII .course {
  width: 80%;
  margin: 60% 10%;
}
.app .pageIII .course .timeBorder {
  width: 1rem;
  height: 40%;
  border: 0.03rem solid #f8ac1f;
  position: absolute;
  top: 4.5rem;
  left: 0.5rem;
  opacity: 0;
  animation: fadeInUp 1s 1s linear forwards;
}
.app .pageIII .course li {
  width: 100%;
  border-bottom: 0.02rem dashed #f8ac1f;
  padding: 0.4rem 0 0.1rem 0;
  font-size: 0.3rem;
  opacity: 0;
}
.app .pageIII .course li:nth-child(1) {
  animation: fadeInRight 1s 1s forwards;
}
.app .pageIII .course li:nth-child(2) {
  animation: fadeInRight 1s 1.1s forwards;
}
.app .pageIII .course li:nth-child(3) {
  animation: fadeInRight 1s 1.2s forwards;
}
.app .pageIII .course li:nth-child(4) {
  animation: fadeInRight 1s 1.3s forwards;
}
.app .pageIII .course li:nth-child(5) {
  animation: fadeInRight 1s 1.4s forwards;
}
.app .pageIII .course li:nth-child(6) {
  animation: fadeInRight 1s 1.5s forwards;
}
.app .pageIII .course li span {
  opacity: 0;
  animation: jackInTheBox 1s 1.7s linear forwards;
}
.app .pageIII .course li span span {
  margin-right: 0.2rem;
}
.app .pageIV {
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 0.24rem;
  position: relative;
}
.app .pageIV .yelowBox {
  width: 1.5rem;
  height: 1.5rem;
  background: #fdc713;
  position: absolute;
  top: 0.5rem;
  left: -0.5rem;
  opacity: 0.99;
  animation: rollIn 1s;
}
.app .pageIV .yelowBoreder {
  width: 0.68rem;
  height: 0.68rem;
  border: 0.04rem solid #fdc713;
  position: absolute;
  top: 1.55rem;
  left: 0.6rem;
  animation: rollIn 1s, rotate 1s 1s Infinite cubic-bezier(0.45, 0.84, 0.69, 0.85);
}
.app .pageIV .information {
  position: absolute;
  top: 2.4rem;
  right: 0.5rem;
  text-align: center;
  animation: slideInLeft 1s linear;
}
.app .pageIV .information span:nth-child(1) {
  display: block;
  font-size: 0.75rem;
  font-weight: bold;
}
.app .pageIV .information span:nth-child(2) {
  font-size: 0.3rem;
}
.app .pageIV .list {
  width: 75%;
  margin: 4.5rem auto 0;
}
.app .pageIV .list li {
  display: flex;
  color: black;
  margin-bottom: 0.3rem;
  justify-content: center;
  align-items: center;
}
.app .pageIV .list li div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.app .pageIV .list li div:nth-child(1) {
  width: 1rem;
  height: 1rem;
  background-color: #f5d001;
  border-radius: 0.5rem;
  margin-right: 0.3rem;
  font-size: 0.45rem;
  font-weight: bold;
  animation: heartBeat 1s, opacity 0.5s forwards;
  opacity: 0;
}
.app .pageIV .list li div:nth-child(2) {
  height: 0.8rem;
  background: #fff;
  border-radius: 0;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
}
.app .pageIV .list li div:nth-child(2) .wrpd {
  width: 95%;
  height: 100%;
  padding-right: 0.1rem;
  display: block;
  background: #f5d001;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.35rem;
  font-weight: bold;
  opacity: 0;
}
.app .pageIV .list li.t div.g {
  animation: heartBeat 0.8s 1s, opacity 0.5s 1s forwards;
}
.app .pageIV .list li.t div.g span {
  animation: heartBeat 1s 1s;
}
.app .pageIV .list li.t div:nth-child(2) {
  animation: fadeInLeft 1s 0.8s forwards;
}
.app .pageIV .list li.t div .wrpd {
  width: 95%;
  animation: opacity2 1s 1.5s forwards;
}
.app .pageIV .list li.r div.f {
  animation: heartBeat 0.8s 1.3s, opacity 0.5s 1s forwards;
}
.app .pageIV .list li.r div.f span {
  animation: heartBeat 1s 1.3s;
}
.app .pageIV .list li.r div:nth-child(2) {
  animation: fadeInLeft 1s 0.8s forwards;
}
.app .pageIV .list li.r div .wrpd {
  width: 90%;
  animation: opacity2 1s 1.5s forwards;
}
.app .pageIV .list li.e div.d {
  animation: heartBeat 0.8s 1.6s, opacity 0.5s 1s forwards;
}
.app .pageIV .list li.e div.d span {
  animation: heartBeat 1s 1.6s;
}
.app .pageIV .list li.e div:nth-child(2) {
  animation: fadeInLeft 1s 0.8s forwards;
}
.app .pageIV .list li.e div .wrpd {
  width: 88%;
  animation: opacity2 1s 1.5s forwards;
}
.app .pageIV .list li.w div.s {
  animation: heartBeat 0.8s 1.9s, opacity 0.5s 1s forwards;
}
.app .pageIV .list li.w div.s span {
  animation: heartBeat 1s 0.9s;
}
.app .pageIV .list li.w div:nth-child(2) {
  animation: fadeInLeft 1s 0.8s forwards;
}
.app .pageIV .list li.w div .wrpd {
  width: 85%;
  animation: opacity2 1s 1.5s forwards;
}
.app .pageIV .p {
  width: 100%;
  animation: zoomIn 2s 2s forwards;
  opacity: 0;
}
.app .pageIV .p p {
  padding: 0 0.5rem;
  font-size: 0.3rem;
  text-indent: 0.6rem;
  line-height: 0.45rem;
}
.app .pageV {
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 0.24rem;
  position: relative;
}
.app .pageV .yelowBox {
  width: 1.5rem;
  height: 1.5rem;
  background: #fdc713;
  position: absolute;
  top: 0.5rem;
  left: -0.5rem;
  opacity: 0.99;
  animation: rollIn 1s;
}
.app .pageV .yelowBoreder {
  width: 0.68rem;
  height: 0.68rem;
  border: 0.04rem solid #fdc713;
  position: absolute;
  top: 1.55rem;
  left: 0.6rem;
  animation: rollIn 1s, rotate 1s 1s Infinite cubic-bezier(0.45, 0.84, 0.69, 0.85);
}
.app .pageV .information {
  position: absolute;
  top: 2.4rem;
  right: 0.5rem;
  text-align: center;
  animation: slideInLeft 1s linear;
}
.app .pageV .information span:nth-child(1) {
  display: block;
  font-size: 0.75rem;
  font-weight: bold;
}
.app .pageV .information span:nth-child(2) {
  font-size: 0.3rem;
}
